h1 {
  text-align: center;
}

.details-full {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "T T T T T"
    "V V V I I"
    "V V V I I"
    "V V V I I"
    "R R R R R"
    "R R R R R"
    "R R R R R"
    "D D D D D";
}

.details-title {
  text-align: center;
  display: grid;
  grid-area: T;
  border: 1px solid #414066;
}

.details-video {
  display: flex;
  justify-content: center;
  grid-area: V;
  border: 1px solid #414066;
}

.details-right {
  display: grid;
  grid-area: I;
  border: 1px solid #414066;
}

.details-review {
  display: grid;
  grid-area: R;
  width: 1000px;
  border: 1px solid #414066;
  padding: 50px;
  text-align: left;
}

.details-button {
  display: grid;
  grid-area: D;
  margin: 10px 500px;
}
