.details-container {
  background-color: #eeeffb;
}

h1 {
  text-align: center;
}

.details-full {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "T T T T T"
    "V V V I I"
    "V V V I I"
    "V V V I I"
    "R R R R R"
    "R R R R R"
    "R R R R R"
    "D D D D D";
}

.details-title {
  text-align: center;
  display: grid;
  grid-area: T;
  background-color: #272640;
  color: #b4b8ee;
  margin-bottom: 10px;
}

.details-video {
  display: flex;
  justify-content: center;
  grid-area: V;
  background-color: #272640;
  padding: 20px 0px;
}

.details-right {
  display: grid;
  grid-area: I;
  background-color: #272640;
  color: #b4b8ee;
  height: 355px;
}

.details-review {
  display: grid;
  grid-area: R;
  width: 1000px;
  padding: 50px;
  text-align: left;
  background-color: #b4b8ee;
  margin-top: 15px;
}

.details-button {
  display: grid;
  grid-area: D;
  margin: 10px 500px;
}
