.container {
  background-color: #eeeffb;
}
.form-title {
  color: white;
  border-radius: 10px;
  margin: 10px 50px 10px 50px;
  padding: 20px;
  height: 50px;
  background-color: rgb(179, 183, 238, 0.8);
  background-image: url("../tumblr_prm9dzAfBR1tba1dg_540.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Staatliches";
  font-size: 30px;
  text-shadow: 2px 2px 5px #3a0ca3;
}

.form-container {
  color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 183, 238);
}

.title-container,
.artist-container,
.year-container,
.duration-container,
.video-container,
.spotify-container,
.lyric-container,
.review-container,
.rating-container,
.author-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(179, 183, 238, 0.77);
  align-items: center;
  margin-top: 10px;
}

.title-label,
.artist,
.year,
.duration,
.video,
.spotify,
.lyric,
.review,
.rating,
.author {
  height: 23px;
  width: 200px;
}

#title,
#artist,
#year,
#duration,
#video,
#spotify,
#rating,
#author {
  background-color: white;
  margin-left: 100px;
  height: 23px;
  width: 200px;
}

#lyric,
#review {
  background-color: white;
  align-items: flex-end;
  margin-left: 100px;
  height: 80px;
  width: 200px;
}

.form-button {
  background: rgb(39, 38, 64);
  color: #eeeffb;
  font-family: "Abril Fatface", cursive;
  width: 200px;
  margin: 10px 50px;
  padding: 10px 5px;
  border-radius: 15px;
}

.form-button:hover {
  background: #eeeffb;
  color: rgb(39, 38, 64);
  box-shadow: 5px 10px 18px rgb(39, 38, 64);
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 400px) {
  .form-container {
    width: fit-content;
  }

  .form-title {
    font-size: 25px;
  }

  .form-container {
    width: fit-content;
    flex-direction: column;
  }

  .title-container,
  .artist-container,
  .year-container,
  .duration-container,
  .video-container,
  .spotify-container,
  .lyric-container,
  .review-container,
  .rating-container,
  .author-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #title,
  #artist,
  #year,
  #duration,
  #video,
  #spotify,
  #rating,
  #author,
  #lyric,
  #review {
    background-color: white;
    justify-self: center;
    align-items: center;
    margin-left: 0px;
  }
}
