.home-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #000807;
}

.home-title {
  grid-area: T;
  margin: 30px 0px 10px 0px;
  text-align: center;
  font-size: 1.25rem;
  color: #b3b7ee;
}

a:link {
  text-decoration: none;
}

.home-video {
  grid-area: V;
}

@media only screen and (max-width: 375px) {
  iframe {
    width: 280px;
    height: 158px;
  }
}
