.search-bar {
  color: white;
  background-color: #9395d3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: "Abril Fatface", cursive;
  font-size: 1.25rem;
}

.search-box {
  background-color: white;
  text-align: center;
  margin-left: 10px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
}
.search-box:hover {
  background-color: #13021d;
  transition: 0.2s ease-in-out;
  color: white;
}

.search-results-container {
  display: grid;
  grid-template-areas:
    "T"
    "V";
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #9395d3;
}

.search-title {
  grid-area: T;
  margin: 30px 0px 10px 0px;
  text-align: center;
  font-size: 1.25rem;
  color: #13021d;
  font-family: "Yeseva One", cursive;
}

.search-title:hover {
  background-color: #5e60ce;
  border-radius: 25px;
  padding: 5px 0px;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}

a:link {
  text-decoration: none;
}

.search-video {
  grid-area: V;
}
